/* Base styles */
/* Colors: https://coolors.co/052f5f-005377-06a77d-d5c67a-f1a208 */

:root {
  --blue-50: #f5f7ff;
  --blue-100: #005377; /* Indigo Dye */
  --blue-500: #052F5F; /* Berkley Blue */
  --blue-600: #003e02;
  --blue-700: #00083b;
  --gray-500: #6b806c; /* Jungle Green */
  --gray-600: #4b5563;
  --orange-100: #F1A208;  /* Gamboge */
  --yellow-100: #D5C67A; /* Citron */ 
  --green-100: #06A77D;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  color: var(--gray-600);
  background-color: #f5f5f5;
}

a {
  color: var(--blue-100);
  text-decoration: underline;
}
p {
  text-align:left
}

h1,
h2 {
  letter-spacing: 0.03rem;
}

h3 {
  letter-spacing: 0.02rem;
}

/* Calculator wrapper */
.calculator-wrapper {
  max-width: 64rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .calculator-wrapper {
    padding: 0 1rem;
  }
}

.calculator-card {
  background: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Header */
.card-header {
  padding-bottom: 0;
  padding-top: 0.30rem;
  text-align: center;
  /* width:60%;
  margin: 0 auto; */
}

@media (min-width: 768px) {
  .card-header {
    padding: 1rem;
  }
}

/*Header Top*/

.card-header-top {
  display: none;
}

@media (min-width: 768px) {
  .card-header-top {
    display: block;
    width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .card-header-top p {
      font-size: 0.95rem;
  }
}


/*Header Left & Right*/
.card-header-left {/*width:50%;*/ float:left; display: block; margin: 1rem 0 1rem 0; padding: 0 1rem 0 0;}
.card-header-right {/*width:50%;*/ float:left; display: block; margin: 1rem 0 1rem 0; padding: 0 1rem 0 0;}

@media (min-width: 768px) {
  .card-header-left,
  .card-header-right {
    width:50%;
  }
}

/*Header left*/
.card-header-left p strong,
.card-header-right p strong {
  color: var( --blue-600);
  font-size: 1.10rem;
}

.card-header h1 {
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .card-header h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

/* Content */
.card-content {
  padding: 0.40rem 1rem 2rem;
}

@media (min-width: 768px) {
  .card-content {
    /*padding: 2rem;*/
    padding: 1rem 1rem 2rem;
  }
}

.calculator-grid {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr;
}

.button-container {
  /*grid-row: 2;*/
  margin-top: 1rem;
  order: 3;
  grid-row: auto;
}
@media (min-width: 768px) {
  .calculator-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  /* Adjust button container for desktop */
  .button-container {
    grid-column: 1 / -1;
    grid-row: auto;
    margin-top: 0;
  }
}

/* Input section */
.input-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  order: 2;
  margin-top: 0.70rem;
}

@media (min-width: 768px) {
  .input-section {
    order: unset;
    margin-top: unset;
    gap: 1rem;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.input-group label {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem
}

input, select {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #e2e8f0;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  transition: border-color 0.3s ease, outline 0.3s ease;
}

input:focus, select:focus {
  outline: 3.5px dotted #37003b;
  outline-offset: 5px;
  border-color: #37003b;
}

.calculate-button {
  /*background-color: #06A77D;*/
  background-color: var(--blue-600);
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  width: 100%; /* Make button full width */
  cursor: pointer;
  transition: background-color 0.3s ease, outline 0.3s ease;
}

.calculate-button:hover {
  background-color: #fad1ae;
  color: #37003b;
}

.calculate-button:focus {
  outline: 3.5px dotted #37003b;
  outline-offset: 5px;
}

.calculate-button:active {
  background-color: var(--blue-700);
}

.loading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  width: 100%;
}
.loading-box div {
  width: 49%;  /* Or whatever */
  margin: auto;  /* Magic! */
}

/*Variant B - label*/
#calculatorFormB .loading-box .input-group label {
  /*min-height: 3rem;*/
}

.loading-box .input-group label {
  /*min-height: 3rem;*/
  font-size: 0.80rem;
}

@media (min-width: 768px) {
  .loading-box .input-group label {
    min-height: unset;
  }
}


.loading-box div input {
  width: 100%;  /* Or whatever */
  margin: auto;  /* Magic! */
}

.tooltip-trigger {
  position: relative;
  background: #00083b;
  color: #e2e8f0;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  padding: 0.4rem;
  margin-right: 0.80rem;
}

@media (min-width: 768px) {
  .tooltip-trigger {
    padding: unset;
    margin-right: unset;
  }
}

.tooltip-trigger:focus {
  outline: 3.5px dotted #00083b;
  outline-offset: 5px;
}

.tooltip {
  display: none;
  position: absolute;
  background: #00083b;
  color: #e2e8f0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  width: max-content;
  max-width: 200px;
  z-index: 10;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.5rem;
}

.tooltip-trigger:hover .tooltip,
.tooltip-trigger:focus .tooltip {
  display: block;
}

/* Results section */
.results-section {
  background: var(--blue-50);
  border-radius: 0.5rem;
  scroll-margin-top: 2rem;
  background-color: rgb(8 167 125 / 12%);
  order: 1;
  padding: 1rem;
  margin-bottom: 0.80rem;
}

@media (max-width: 767px) {
  .results-section {
    scroll-margin-top: unset;
    padding: 1rem;
    order: unset;
    margin-bottom: unset;
  }
}

.results-section h2 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.20rem;
  font-size: 1.05rem;
  color: #000000;
}

@media (min-width: 768px) {
  .results-section h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.25rem;
  }
}

.results-section .loading-box .input-group .readonly-output {
  width: 100%;
}

.results-section .loading-box {
  margin-bottom: 0.50rem;
}



@media (max-width: 767px) {
  .results-section .loading-box .input-group span {
    font-size: 0.82rem;
    color: #000000;
  }
}

.results-card {
  background: var(--white);
  border-radius: 0.25rem;
  /* margin-bottom: 1.5rem; */
  padding: 0.50rem 1rem;
  box-shadow: 1px 1px 3px #dddddd;
}

@media (min-width: 768px) {
  .results-card {
    padding: 1rem;
  }
}


.results-card h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #000000;
}

.results-card dl .result-row {
  font-size: 0.80rem;
}

.results-card dl .result-row dd {
  color: var(--blue-600);
}

.result-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

/* Footer */
footer {
  background: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.calculator-footer {
  font-size: 0.875rem;
  color: black;
  margin-bottom: 7rem;
}

@media (min-width: 768px) {
  .calculator-footer {
    margin: 2rem;
  }
}

.calculator-footer .about-section {
  margin-bottom: 1.5rem;
}

.calculator-footer-sources {
  margin: 2rem 0 0 0;
  font-size: 0.875rem;
  color: black;
}

.calculator-footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Utility classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.tab-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.70rem;
}

.tab-header a {
  color: var(--blue-600);
  font-weight: 600;
}

@media (min-width: 768px) {
  .tab-header {
    margin-bottom: 1rem;
    justify-content: center;
  }
}

.tab-header button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: 2px solid #003e02;
  background-color: white;
  cursor: pointer;
  border-radius: 0.25rem;
}
.tab-header button.active {
  background-color: #003e02;
  color: white;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.readonly-output {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.flex-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.flex-row .input-group {
  flex: 1;
  min-width: 200px;
}